extends common/layout

block layout-content
    div#welcome
        div.welcome-content
            div.heading
                h1#main-heading Find Your Dream Place.
                img.sign(src="/images/sign.svg", alt="signature")
            p IceGard is a large real estate agency. The comfort and quality of your life is in the first place with us.
            div
                a(href="/catalog").collection-btn Catalog
        div.build-img